<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Discourse WebPage</h1>
    <p class="lead">Key to Success !!!</p>
    <hr>
    <%= link_to 'Register' , register_path , class:'btn btn-light btn-lg' %>
    <%= link_to 'login' , login_path , class:'btn btn-dark btn-lg' %>
    <hr>
    <button type="submit" class="btn btn-dark">SignUp for free</button>
  </div>
</div>
